<div class="ch-row">
  <div class="md:ch-col--8">
    <div class="ch-card">
      <div class="ch-card__content">
<h1>Edit task</h1>

<%= form_with(model: @task, local: true) do |form| %>

  <% if @task.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@task.errors.count, "error") %> prohibited
        this task from being saved:
      </h2>
      <ul>
        <% @task.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= form.label :task %><br>
    <%= form.text_field :task %>
  </p>

  <p>
    <%= form.label :station %><br>
    <%= form.select :station, ['station1', 'station2']%>
  </p>

  <p>
    <%= form.label :importance %><br>
    <%= form.select :importance, ['red', 'amber', 'green']%>
  </p>

  <p>
    <%= form.label :make %><br>
    <%= form.select :make, ['Alfa Romeo', 'Alpina', 'Aston Martin', 'Audi', 'Bentley', 'BMW', 'Citroen', 'Dacia', 'DS', 'Ferrari', 'Fiat', 'Ford', 'Honda', 'Hyundai', 'Infiniti', 'Jaguar', 'Jeep', 'Kia', 'Lamborghini', 'Land Rover', 'Lexus', 'Lotus', 'Maserati', 'Mazda', 'McLaren', 'Mercedes', 'MG', 'Mini', 'Mitsubishi', 'Nissan', 'Peugeot', 'Porsche', 'Renault', 'Rolls-Royce', 'Seat', 'Skoda', 'Smart', 'SsangYong', 'Subaru', 'Suzuki', 'Tesla', 'Toyota', 'Vauxhall', 'Volkswagen', 'Volvo']%>
  </p>

  <p>
    <%= form.label :regnum %><br>
    <%= form.text_field :regnum %>
  </p>

  <p>
    <%= form.submit class: "ch-btn ch-btn--success" %>
  </p>

<% end %>

<%= link_to 'Back', tasks_path, {class: "ch-btn ch-btn--secondary"}%>
</div>
</div>
</div>
</div>