<div class="ch-row">
  <div class="md:ch-col--8">
    <div class="ch-card">
      <div class="ch-card__content">
<p>
  <strong>Task:</strong>
  <%= @task.task %>
</p>

<p>
  <strong>Station:</strong>
  <%= @task.station %>
</p>

<p>
  <strong>Importance:</strong>
  <%= @task.importance %>
</p>

<p>
  <strong>Make:</strong>
  <%= @task.make %>
</p>

<p>
  <strong>Reg Number:</strong>
  <%= @task.regnum %>
</p>
<%= link_to 'Edit', edit_task_path(@task), {class: "ch-btn ch-btn--primary"} %> |
<%= link_to 'Back', tasks_path, {class: "ch-btn ch-btn--secondary"}%>
</div>
</div>
</div>
</div>